*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background: #f3f6fb;
}
.homepage {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}
h1 {
    text-align: center;
    color: teal;
    margin-bottom: 2rem;
}
.source {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem;
}
.source a {
color: #000;
font-style: italic;
}
form {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.input-text-group, .radioButtons {
    width: 100%;
    display: flex;
    align-items: center;
}
.input-text-group {
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1rem;
}
input[type=text] {
    width: 350px;
    width: 60%;
    height: 40px;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}
input[type=text]::placeholder {
    font-size: 1.4rem;
    font-style: italic;
}
.searchButtons {
    width: 325px;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#btnShowData, #btnReset {
    width: 130px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    letter-spacing: 0.1rem;
    transition: transform 0.2s ease-in-out;
}
#btnShowData:hover, #btnReset:hover {
    transform: scale(1.02);
    cursor: pointer;
}
#btnShowData {
    background: teal;
    color: white;
}
#btnReset {
    background: #ffc831;
}
.input-radio-group {
    margin-right: 3rem;
}
input[type=radio] {
    transform: scale(1.2);
    accent-color: teal;
    margin-right: 0.5rem;
}
input[type=radio]:hover {
    cursor: pointer;
}
.input-radio-group:nth-child(3) {
    margin-right: 0;
}
.input-radio-group:nth-child(3) label {
    margin-right: 1rem;
}
select {
    height: 35px;
}
.result {
    width: 500px;
    display: flex;
    flex-direction: column;
}
#countriesList {
    list-style-type: none;
}
.country {
    border: 0.2px solid black;
    border-radius: 0.5rem;
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
}
.countryInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.countryInfo span {
    font-weight: bold;
    color: teal;
}

/*! MEDIA QUERIES */
@media screen and (max-width: 766px) {
    .homepage {
        padding: 3rem 1rem;
    }
    form, .result {
        width: 100%;    
    }
    .input-text-group {
        flex-direction: column;
    }
    input[type=text], .searchButtons {
        width: 100%;
    }
    input[type=text] {
        margin-bottom: 2rem;    
    }
    .radioButtons {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .input-radio-group {
        margin-right: 0;
    }
}

@media screen and (max-width: 377px) {
    .source {
        font-size: 1.6rem;    
    }
    .searchButtons {
        justify-content: space-between;    
    }
    .input-radio-group:nth-child(3) {
        flex-direction: column;
    }
    select {
        margin-top: 1rem;
    }
}